$font-path: "../fonts"
@font-face
  font-family: BnkGoth
  font-style: normal
  font-weight: 600
  src: local('Bank Gothic'), url('#{$font-path}/BankGothicMedium.ttf') format('truetype'), url('#{$font-path}/BankGothicMedium.woff') format('woff'), url('#{$font-path}/BankGothicMedium.woff2') format('woff2')
  font-display: swap

@font-face
  font-family: LtrGoth
  font-style: normal
  font-weight: 400
  src: local('Letter Gothic MT'), url('#{$font-path}/LetterGothicMT.ttf') format('truetype'), url('#{$font-path}/LetterGothicMT.woff') format('woff'), url('#{$font-path}/LetterGothicMT.woff2') format('woff2')
  font-display: swap
@font-face
  font-family: LtrGoth
  font-style: normal
  font-weight: 400
  src: local('Letter Gothic MT'), url('#{$font-path}/LetterGothicMTBold.ttf') format('truetype'), url('#{$font-path}/LetterGothicMTBold.woff') format('woff'), url('#{$font-path}/LetterGothicMTBold.woff2') format('woff2')
  font-display: swap
@font-face
  font-family: LtrGoth
  font-style: normal
  font-weight: 400
  src: local('Letter Gothic MT'), url('#{$font-path}/LetterGothicMTOblique.ttf') format('truetype'), url('#{$font-path}/LetterGothicMTOblique.woff') format('woff'), url('#{$font-path}/LetterGothicMTOblique.woff2') format('woff2')
  font-display: swap

@font-face
  font-family: FiraCNF
  font-style: normal
  font-weight: 300
  src: local('FiraCode NF'), local('Fira Code SemiBold'), url('#{$font-path}/FiraCode-SemiBold.ttf') format('truetype'), url('#{$font-path}/FiraCode-SemiBold.woff') format('woff'), url('#{$font-path}/FiraCode-SemiBold.woff2') format('woff2')
  font-display: swap
@font-face
  font-family: FiraCNF
  font-style: normal
  font-weight: 300
  src: local('FiraCode NF'), local('Fira Code'), url('#{$font-path}/FiraCode-Bold.ttf') format('truetype'), url('#{$font-path}/FiraCode-Bold.woff') format('woff'), url('#{$font-path}/FiraCode-Bold.woff2') format('woff2')
  font-display: swap
@font-face
  font-family: FiraCNF
  font-style: normal
  font-weight: 300
  src: local('FiraCode NF'), local('Fira Code Light'), url('#{$font-path}/FiraCode-Light.ttf') format('truetype'), url('#{$font-path}/FiraCode-Light.woff') format('woff'), url('#{$font-path}/FiraCode-Light.woff2') format('woff2')
  font-display: swap
@font-face
  font-family: FiraCNF
  font-style: normal
  font-weight: 300
  src: local('FiraCode NF'), local('Fira Code Medium'), url('#{$font-path}/FiraCode-Medium.ttf') format('truetype'), url('#{$font-path}/FiraCode-Medium.woff') format('woff'), url('#{$font-path}/FiraCode-Medium.woff2') format('woff2')
  font-display: swap
@font-face
  font-family: FiraCNF
  font-style: normal
  font-weight: 300
  src: local('FiraCode NF'), local('Fira Code'), url('#{$font-path}/FiraCode-Regular.ttf') format('truetype'), url('#{$font-path}/FiraCode-Regular.woff') format('woff'), url('#{$font-path}/FiraCode-Regular.woff2') format('woff2')
  font-display: swap